.password-strength {
    margin-top: 10px;
    font-size: 14px;
}

.strength-meter {
    height: 5px;
    background-color: #eee;
    margin-top: 5px;
    border-radius: 5px;
    overflow: hidden;
}

.meter-fill {
    height: 100%;
    width: 0%;
    transition: width 0.3s, background-color 0.3s;
}

.validation-message {
    font-size: 12px;
    margin-top: 5px;
}

.validation-message p {
  margin-bottom: 2px; /* Pequeno espaçamento entre as mensagens */
}

.valid {
    color: green;
}

.invalid {
    color: red;
}